* {
	
	
	cursor: pointer;
	padding: 0;
	margin: 0;
}
.titlecenter{
	text-align: center;
}


.titlecenter:hover{
	text-decoration: underline;
    color: #5b88c2;
}


.img-hover:hover{
		transform: scale(1.1);	
		cursor: wait;
}
.description{
	padding: 0 20px;
    text-align: center;
}
html{
	font-size: 10px;
}

h1{
	color: #5c3d30;
}

.mainnav-ul {
	list-style: none;
	padding: 10px;
}	

.mainlogo {
	max-width: 100px;
	height: 100px;
}


.container{
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
	padding: 15px;
}

.header {
	background-color: #5b88c2;
}


.mainnav {
	margin-bottom: 15px;
	background-color: white;
}

.footer{
	margin-top: 15px;
	background-color: white;
}






.link-list,
.form,
.table {
	background-color: white;
	padding: 15px;
}









form {
	order: -1;
}


body{
	background:url(https://i.pinimg.com/originals/64/8e/f4/648ef464f47ba6e25f63395656a00039.jpg)
	}










.quote {
	position: relative;
}
.quote blockquote {
 padding: 0px;
 border: 0;
 margin: 0;
 font-size: 14px;

 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 -ms-border-radius: 8px;
 border-radius: 8px;
}
.quote blockquote p {
 color: #fff;
 padding-top: 25px;
 padding-bottom: 45px;
 padding-left: 30px;
 padding-right: 30px;
}

.quote.green blockquote {
 background-color: #32c5d2;
}

.quote.dark blockquote {
 background-color: #555;
}

.quote-footer {
 margin: 10px 0;
}
.quote-footer .quoteAuthorImg img {
 float: left;
 max-width: 90px;
 width: 90px;
 height: 90px;


}

.quote-footer h4 {
 font-size: 14px;
 margin-bottom: 4px;
}
.quote-footer p {
 font-weight: 400;
 font-size: 14px;
}


.slick-prev:before{
    color: #5b88c2
}
.slick-next:before{
    color: #5b88c2;
}
.slick-slider{
    margin: 0 20px;
}
.slide {
    margin: 0 10px;
}
.sl__img{
    width:187px ;

